@model AgendaTarefas.Models.Tarefa

@{
    ViewData["Title"] = " Nova tarefa na data " + Model.Data;
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <text class="card-header">Nova tarefa na data @Model.Data</text>
                <form asp-action="CriarTarefa">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <input asp-for="Data" type="hidden" />

                        <div class="form-group">
                            <label asp-for="Horario" class="control-label"></label>
                            <input asp-for="Horario" class="form-control" />
                            <span asp-validation-for="Horario" class="text-danger"></span>
                        </div>
                        &emsp;
                        <div class="card-footer">
                            <div class="form-group">
                                <a asp-action="Index" class="btn btn-sm btn-outline-secondary rounded-square">
                                    <i class="fa fa-arrow-circle-o-left"></i> Voltar
                                </a>

                                <button type="submit" value="Salvar" class="btn btn-sm btn-outline-primary rounded-square" >
                                    <i class="fa fa-floppy-o"></i> Salvar
                                </button>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


